<div class="row">

  <div class="header">
    <div class="bhelekazi">
      <h1><strong> Bhelekazi </strong></h1>
      <img src="/images/images.png" alt="coffee">
    </div>
  </div>

  <h2>Hello there, welcome to Bhelekazi The COFFEE Shop</h2>

  <h3 class="green">enough</h3>
  <h3 class="red">over booked</h3>
  <h3 class="orange">still need more</h3>

  <hr>

  <h3 class="resetSucceded">{{messages.resetSucceded}}</h3>

  <form action="/days" method="GET">
    <table>
      <thead>
        <caption><strong>Shifts Tables</strong></caption>
        <tr>
          {{#each display}}
          <th class="{{color}}">
            {{this.day}}
          </th>
          {{/each}}
        </tr>
      </thead>

      <tbody>
        <tr>
          {{#each display}}
          <td>
            {{#each Waiter}}
            <a href="/waiters/{{this}}">
              <li>{{this}}</li>
            </a>
            {{/each}}
          </td>
          {{/each}}
        </tr>
      </tbody>
    </table>
  </form>

  <br>

  <div>
    <a href="/">
      <button type="submit" class="back">back</button>
    </a>
  </div>

  <br>

  <div>
    <form action="/reset" method="GET">
      <a href="/administrator">
        <button type="submit" class="reset">Reset</button>
      </a>
    </form>
  </div>

</div>

<script>
  setTimeout(function () {
    document.querySelector(".resetSucceded").innerHTML = ""
  }, 3000);
</script>