<div class="row">

    <div class="header">
        <div class="bhelekazi">
            <h1><strong> Bhelekazi </strong></h1>
            <img src="/images/images.png" alt="coffee">
        </div>
    </div>
    <br>

    {{!-- <h2>Hello, {{username}} please select your working days</h2> --}}

    {{!-- {{#if confirm}}
    <div class="confirm">
        <p class="confirm">{{confirm.success}}</p>
    </div>
    {{/if}} --}}

    <h4 class="message">{{messages.error}}</h4>
    <h4 class="success">{{messages.success}}</h4>

    {{!-- 
 {{#if message}}
    <div class="">{{message}}</div>
    {{else}}
    <div class="">
        <p class='flash'> {{messages.error}}</p>
    </div>
    {{/if}} --}}



    <form action="/waiters/{{username}}" method="POST">
        <input type="checkbox" id="day1" class="check" name="day" value="Monday"> Monday
        <input type="checkbox" id="day2" class="check" name="day" value="Tuesday"> Tuesday
        <input type="checkbox" id="day3" class="check" name="day" value="Wednesday"> Wednesday
        <input type="checkbox" id="day4" class="check" name="day" value="Thursday"> Thursday
        <input type="checkbox" id="day5" class="check" name="day" value="Friday"> Friday
        <input type="checkbox" id="day6" class="check" name="day" value="Saturday"> Saturday
        <input type="checkbox" id="day7" class="check" name="day" value="Sunday"> Sunday
        <br>
        <br>
        <button class="submit" type="submit">Submit</button>
        {{!-- <input type="submit" value="Submit"> --}}
    </form>

    <br>

    <div>
        <a href="/">
            <button type="submit" class="back">back</button>
        </a>
    </div>

</div>

<script>
    setTimeout(function () {
        document.querySelector(".success").innerHTML = "";
        document.querySelector(".error").innerHTML = ""
    }, 3000);
</script>