<div class="row">

    <div class="header">
        <div class="bhelekazi">
            <h1><strong> Bhelekazi </strong></h1>
            <img src="/images/images.png" alt="coffee">
        </div>
    </div>

    <span>{{this.names}}</span>
    <h2>{{username}}</h2>

    <h2>please put your name on the url and select your working days</h2>

    
    <h3 class="message">{{messages.error}}</h3>
    <h3 class="success">{{messages.success}}</h3>

    <form action="/waiters/{{username}}" method="POST">
        {{#each allDays}}
        <input type="checkbox" id="day1" {{checked}} class="check" name="day" value="{{this.days}}">
        <span>{{this.days}}</span>
        {{/each}}
        <br>
        <br>
        <button class="submit" type="submit">Submit</button>
    </form>

    <br>

    <div>
        <a href="/">
            <button type="submit" class="back">back</button>
        </a>
    </div>

</div>

<script>
    setTimeout(function () {
        document.querySelector(".success").innerHTML = "";
        document.querySelector(".error").innerHTML = ""
    }, 3000);
</script>